<header class="top-0 fixed z-50 h-14 bg-white dark:bg-black opacity-90 w-full shadow pr-3">
    <div class="flex flex-wrap items-center">
        <div class="absolute z-10 top-2 left-2 sm:static flex-shrink flex-grow-0">
            <div class="cursor-pointer">
                <a class="navbar-brand flex items-center" href="./">
                    <svg class="w-8 h-8 sm:ml-2 sm:w-12 sm:h-12" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="currentColor" d="M10 6c1.544 1.76 2.276 4.15 2.217 6.61c3.968 1.67 9.924 6.12 11.181 12.39H28C26.051 14.31 14.918 6.77 10 6zm-2 7c4.67 4.913.81 11.582-4 12h18.97C21.5 18.289 11.95 13.533 8 13z"/></svg>
                    <span class="hidden sm:block text-2xl font-semibold">MyApp</span>
                </a>
            </div>
        </div>
        <div class="flex flex-grow flex-shrink flex-nowrap justify-end items-center">
            <nav class="relative flex flex-grow leading-6 font-semibold text-slate-700 dark:text-slate-200">
                <ul class="flex flex-wrap items-center justify-end w-full m-0 pb-2 sm:pb-0">
                    @{
                        void RenderNavLink(string href, string childContent, string? cls = null)
                        {
                            <li class="@Html.ClassNames("relative flex flex-wrap just-fu-start m-0",cls)">
                                <a href="@href" class="@Html.ClassNames("p-4 flex items-center justify-start mw-full hover:text-sky-500 dark:hover:text-sky-400", 
                                    Html.MatchesPath(href) ? "text-blue-700 dark:text-blue-300" : "")">
                                    @Html.Raw(childContent)
                                </a>
                            </li>
                        }
                        RenderNavLink("whatsnew", "What's New");
                        RenderNavLink("videos", "Videos");
                        RenderNavLink("creatorkit/", "Creator Kit");
                        RenderNavLink("blog", "Blog");
                        RenderNavLink("posts/", "Archive");
                        RenderNavLink("speaking", "Speaking");
                        RenderNavLink("uses", "Uses");
                        RenderNavLink("about", "About");
                    }
                    <li class="relative flex flex-wrap just-fu-start m-0">
                        <div data-component="DarkModeToggle" class="ml-2 w-10"></div>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</header>
<script type="module">
import { mountAll } from "app.mjs"
mountAll()
</script>
